body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#icon{
    width: 98px;
    height: 102px;
    padding: 20px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#bar{
    padding-right: 20px;
}

#noticias{
    text-align: center;
    justify-content: space-around;
    padding: 6px;
    display: flex;
}

.noticia{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 20px solid black;
    border-radius: 20px;
}

.img_noticias{
    border-radius: 20px;
    width: 900px;
    height: 506px;
    border: 4px;
}